.mainLayout {
	height: 100dvh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	gap: 0;
}

.mainWrapper {
	height: 100%;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-items: space-between;
	align-items: stretch;
	gap: 20px;
	overflow-y: auto;
}

.main {
	flex: 1;
	padding: 20px;
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}
