.header {
	width: 100%;
	height: 70px;
	background-color: var(--main-bg-color);
	padding: 0 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	box-shadow: var(--shadow-top);

	p {
		text-transform: capitalize;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 10px;
		cursor: pointer;
		user-select: none;
		color: var(--text-color);
	}
}

.headerButtonGroup {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}
